@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
body {
    text-align: center;
    font-size: 3rem;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    background: #121213;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.case {
    border: solid;
    border-color: #3A3A3C;
    margin: 2px;
    width: 58px;
    height: 58px;
    border-radius: 10px;
}

.good {
    color: #121213;
    font-weight: bold;
    background: #90be6d;
    border-color: #90be6d;
}

.maybe {
    color: #121213;
    font-weight: bold;
    background: #f9c74f;
    border-color: #f9c74f;
}

.not {
    color: rgba(128, 128, 128, 0.274);
}

.text {
    color: gray;
}

#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

#restart {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    text-transform: none;
}